In [1]:
import pandas as pd
from scipy import stats

In [2]:
populationDf = pd.read_excel('input/DDW_PCA0000_2011_Indiastatedist.xlsx')
populationDf

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [3]:
populationDf = populationDf[['State','Level','Name','TRU','TOT_M','TOT_F']]
populationDf = populationDf[populationDf['TRU']=='Total'].drop(['TRU'], axis=1)
populationDf['Name'] = populationDf['Name'].str.upper()
populationDf = populationDf[(populationDf['Level']=='India') | (populationDf['Level']=='STATE')].drop(['Level'], axis=1).reset_index(drop=True)
populationDf

    State                       Name      TOT_M      TOT_F
0       0                      INDIA  623270258  587584719
1       1            JAMMU & KASHMIR    6640662    5900640
2       2           HIMACHAL PRADESH    3481873    3382729
3       3                     PUNJAB   14639465   13103873
4       4                 CHANDIGARH     580663     474787
5       5                UTTARAKHAND    5137773    4948519
6       6                    HARYANA   13494734   11856728
7       7               NCT OF DELHI    8987326    7800615
8       8                  RAJASTHAN   35550997   32997440
9       9              UTTAR PRADESH  104480510   95331831
10     10                      BIHAR   54278157   49821295
11     11                     SIKKIM     323070     287507
12     12          ARUNACHAL PRADESH     713912     669815
13     13                   NAGALAND    1024649     953853
14     14                    MANIPUR    1438586    1417208
15     15                    MIZORAM     555339     541867
16     16                    TRIPURA    1874376    1799541
17     17                  MEGHALAYA    1491832    1475057
18     18                      ASSAM   15939443   15266133
19     19                WEST BENGAL   46809027   44467088
20     20                  JHARKHAND   16930315   16057819
21     21                     ODISHA   21212136   20762082
22     22               CHHATTISGARH   12832895   12712303
23     23             MADHYA PRADESH   37612306   35014503
24     24                    GUJARAT   31491260   28948432
25     25                DAMAN & DIU     150301      92946
26     26       DADRA & NAGAR HAVELI     193760     149949
27     27                MAHARASHTRA   58243056   54131277
28     28             ANDHRA PRADESH   42442146   42138631
29     29                  KARNATAKA   30966657   30128640
30     30                        GOA     739140     719405
31     31                LAKSHADWEEP      33123      31350
32     32                     KERALA   16027412   17378649
33     33                 TAMIL NADU   36137975   36009055
34     34                 PUDUCHERRY     612511     635442
35     35  ANDAMAN & NICOBAR ISLANDS     202871     177710

In [4]:
languageDf = pd.read_excel('input/DDW-C18-0000.xlsx', names=['state-code','District','State Name','TRU','Age_Group','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
languageDf = languageDf[languageDf['TRU']=='Total'].drop(['TRU'], axis=1)
languageDf = languageDf[languageDf['Age_Group']=='Total'].drop(['State Name','District','Age_Group','Persons_L2','Persons_L3'], axis=1).reset_index(drop=True)
languageDf = languageDf.astype({'state-code':int})
languageDf

    state-code   Males_L2 Females_L2  Males_L3 Females_L3
0            0  176696383  138292387  50536832   35472748
1            1    3634819    2548371   1258756     837464
2            2     683966     558739    200478     146808
3            3    7284183    5751041   4383841    3446072
4            4     322898     257022    178557     143422
5            5     982762     774994    109529      78293
6            6    3257645    2369716    681228     489343
7            7    3792458    3024756    741513     616720
8            8    4389920    3083266    642842     363909
9            9   13309909    9563700   1546993    1038671
10          10    9443495    7318290   1028475     654097
11          11     213340     175659     99427      81975
12          12     478413     407532    236666     181885
13          13     661899     567824    306593     230888
14          14     760287     628333    356245     260573
15          15     174164     135539     34714      18252
16          16     713499     555102    129143      69434
17          17     441080     381240    160749     114182
18          18    7979404    6481187   2636287    1716210
19          19    8782338    6243510   1789355    1091650
20          20    5474214    4526506    965960     627079
21          21    7865598    5959426   3359211    2166067
22          22    1820621    1563602    245150     177419
23          23    5474699    4333983    758130     499823
24          24   15059742   10832599   5181262    3389309
25          25      71260      45369     21856      12746
26          26     113211      85772     44256      27260
27          27   32034959   25384902  11455478    8269251
28          28   12193992    9389342   3836382    2507994
29          29   13032885   11219709   4519095    3313034
30          30     587384     538768    395322     345927
31          31      11338       7215      6435       3546
32          32    4293120    3870267   1734057    1454756
33          33   11000921    9415349   1410192    1036971
34          34     213582     178710     40809      30856
35          35     142378     115047     41846      30862

In [5]:
languageDf['Only1LangM'] = populationDf['TOT_M'] - languageDf['Males_L2']
languageDf['Only1LangF'] = populationDf['TOT_F'] - languageDf['Females_L2']
languageDf['Exact2LangM'] = languageDf['Males_L2'] - languageDf['Males_L3']
languageDf['Exact2LangF'] = languageDf['Females_L2'] - languageDf['Females_L3']
languageDf['Lang3orMoreM'] = languageDf['Males_L3']
languageDf['Lang3orMoreF'] = languageDf['Females_L3']
languageDf['ratioL1'] = languageDf['Only1LangM']/languageDf['Only1LangF']
languageDf['ratioL2'] = languageDf['Exact2LangM']/languageDf['Exact2LangF']
languageDf['ratioL3'] = languageDf['Lang3orMoreM']/languageDf['Lang3orMoreF']
languageDf['ratioPopulation'] = populationDf['TOT_M']/populationDf['TOT_F']
languageDf

,state-code,Males_L2,Females_L2,Males_L3,Females_L3,Only1LangM,Only1LangF,Exact2LangM,Exact2LangF,Lang3orMoreM,Lang3orMoreF,ratioL1,ratioL2,ratioL3,ratioPopulation
0,0,176696383,138292387,50536832,35472748,446573875,449292332,126159551,102819639,50536832,35472748,0.993949,1.226999,1.424666,1.060733
1,1,3634819,2548371,1258756,837464,3005843,3352269,2376063,1710907,1258756,837464,0.896659,1.388774,1.503057,1.125414
2,2,683966,558739,200478,146808,2797907,2823990,483488,411931,200478,146808,0.990764,1.173711,1.36558,1.029309
3,3,7284183,5751041,4383841,3446072,7355282,7352832,2900342,2304969,4383841,3446072,1.000333,1.2583,1.272127,1.117186
4,4,322898,257022,178557,143422,257765,217765,144341,113600,178557,143422,1.183684,1.270607,1.244976,1.222997
5,5,982762,774994,109529,78293,4155011,4173525,873233,696701,109529,78293,0.995564,1.253383,1.398963,1.038245
6,6,3257645,2369716,681228,489343,10237089,9487012,2576417,1880373,681228,489343,1.079064,1.370163,1.392128,1.138150
7,7,3792458,3024756,741513,616720,5194868,4775859,3050945,2408036,741513,616720,1.087735,1.266985,1.20235,1.152130
8,8,4389920,3083266,642842,363909,31161077,29914174,3747078,2719357,642842,363909,1.041683,1.377928,1.766491,1.077387
9,9,13309909,9563700,1546993,1038671,91170601,85768131,11762916,8525029,1546993,1038671,1.062989,1.379809,1.489397,1.095967
10,10,9443495,7318290,1028475,654097,44834662,42503005,8415020,6664193,1028475,654097,1.054859,1.262722,1.572359,1.089457
11,11,213340,175659,99427,81975,109730,111848,113913,93684,99427,81975,0.981064,1.215928,1.212894,1.123694
12,12,478413,407532,236666,181885,235499,262283,241747,225647,236666,181885,0.897881,1.07135,1.301185,1.065835
13,13,661899,567824,306593,230888,362750,386029,355306,336936,306593,230888,0.939696,1.054521,1.327886,1.074221
14,14,760287,628333,356245,260573,678299,788875,404042,367760,356245,260573,0.859831,1.098657,1.36716,1.015085
15,15,174164,135539,34714,18252,381175,406328,139450,117287,34714,18252,0.938097,1.188964,1.901929,1.024862
16,16,713499,555102,129143,69434,1160877,1244439,584356,485668,129143,69434,0.932852,1.203201,1.859939,1.041586
17,17,441080,381240,160749,114182,1050752,1093817,280331,267058,160749,114182,0.960629,1.049701,1.407831,1.011372
18,18,7979404,6481187,2636287,1716210,7960039,8784946,5343117,4764977,2636287,1716210,0.9061,1.121331,1.53611,1.044105
19,19,8782338,6243510,1789355,1091650,38026689,38223578,6992983,5151860,1789355,1091650,0.994849,1.357371,1.639129,1.052667
20,20,5474214,4526506,965960,627079,11456101,11531313,4508254,3899427,965960,627079,0.993478,1.156132,1.540412,1.054335
21,21,7865598,5959426,3359211,2166067,13346538,14802656,4506387,3793359,3359211,2166067,0.901631,1.187967,1.550834,1.021677
22,22,1820621,1563602,245150,177419,11012274,11148701,1575471,1386183,245150,177419,0.987763,1.136553,1.381757,1.009486
23,23,5474699,4333983,758130,499823,32137607,30680520,4716569,3834160,758130,499823,1.047492,1.230144,1.516797,1.074192
24,24,15059742,10832599,5181262,3389309,16431518,18115833,9878480,7443290,5181262,3389309,0.907025,1.327166,1.528707,1.087840
25,25,71260,45369,21856,12746,79041,47577,49404,32623,21856,12746,1.661328,1.514392,1.714734,1.617079
26,26,113211,85772,44256,27260,80549,64177,68955,58512,44256,27260,1.255107,1.178476,1.623478,1.292173
27,27,32034959,25384902,11455478,8269251,26208097,28746375,20579481,17115651,11455478,8269251,0.911701,1.202378,1.38531,1.075959
28,28,12193992,9389342,3836382,2507994,30248154,32749289,8357610,6881348,3836382,2507994,0.923628,1.214531,1.529662,1.007203
29,29,13032885,11219709,4519095,3313034,17933772,18908931,8513790,7906675,4519095,3313034,0.948429,1.076785,1.364035,1.027815
30,30,587384,538768,395322,345927,151756,180637,192062,192841,395322,345927,0.840116,0.99596,1.14279,1.027432
31,31,11338,7215,6435,3546,21785,24135,4903,3669,6435,3546,0.902631,1.336331,1.814721,1.056555
32,32,4293120,3870267,1734057,1454756,11734292,13508382,2559063,2415511,1734057,1454756,0.868667,1.059429,1.191992,0.922247
33,33,11000921,9415349,1410192,1036971,25137054,26593706,9590729,8378378,1410192,1036971,0.945226,1.1447,1.359915,1.003580
34,34,213582,178710,40809,30856,398929,456732,172773,147854,40809,30856,0.873442,1.168538,1.322563,0.963913
35,35,142378,115047,41846,30862,60493,62663,100532,84185,41846,30862,0.96537,1.194179,1.355907,1.141585

In [6]:
languageDf1 = languageDf[['state-code']]
languageDf1['male-percentage'] = (languageDf['Only1LangM']/populationDf['TOT_M'])*100
languageDf1['female-percentage'] = (languageDf['Only1LangF']/populationDf['TOT_F'])*100
languageDf1['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
languageDf1

<ipython-input-6-3897d06db6b6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf1['male-percentage'] = (languageDf['Only1LangM']/populationDf['TOT_M'])*100
<ipython-input-6-3897d06db6b6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf1['female-percentage'] = (languageDf['Only1LangF']/populationDf['TOT_F'])*100
<ipython-input-6-3897d06db6b6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf1['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code male-percentage female-percentage   p-value
0            0       71.650118         76.464264  0.340433
1            1       45.264207         56.811956  0.537034
2            2       80.356377         83.482596  0.306330
3            3       50.242833         56.111899  0.568812
4            4       44.391497          45.86583  0.733277
5            5       80.871829          84.33887  0.270833
6            6        75.85988         80.013744  0.293845
7            7       57.802154         61.224134  0.587541
8            8       87.651767         90.656045  0.268230
9            9       87.260869         89.967989  0.234998
10          10       82.601666          85.31092  0.302109
11          11       33.964775         38.902705  0.883229
12          12       32.987119         39.157529  0.854432
13          13       35.402367         40.470492  0.800518
14          14       47.150396         55.664024  0.588871
15          15       68.638255         74.986666  0.385357
16          16       61.934052         69.153134  0.402047
17          17       70.433668         74.154219  0.447788
18          18       49.939254         57.545326  0.518246
19          19       81.237939         85.959256  0.274767
20          20       67.666201         71.811203  0.391862
21          21        62.91935         71.296588  0.414623
22          22       85.812858         87.700089  0.300051
23          23       85.444394          87.62232  0.297581
24          24       52.178027         62.579669  0.459303
25          25       52.588472         51.187786  0.847482
26          26       41.571532         42.799218  0.704064
27          27       44.997805         53.104927  0.579031
28          28       71.269144         77.717971  0.343464
29          29       57.913168         62.760652  0.493990
30          30       20.531428         25.109222  0.731286
31          31       65.770009         76.985646  0.379594
32          32       73.213891         77.729759  0.336203
33          33       69.558557          73.85283  0.346070
34          34       65.130096         71.876269  0.354235
35          35       29.818456         35.261381  0.814565

In [7]:
languageDf2 = languageDf[['state-code']]
languageDf2['male-percentage'] = (languageDf['Exact2LangM']/populationDf['TOT_M'])*100
languageDf2['female-percentage'] = (languageDf['Exact2LangF']/populationDf['TOT_F'])*100
languageDf2['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
languageDf2

<ipython-input-7-0cae81f5f661>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf2['male-percentage'] = (languageDf['Exact2LangM']/populationDf['TOT_M'])*100
<ipython-input-7-0cae81f5f661>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf2['female-percentage'] = (languageDf['Exact2LangF']/populationDf['TOT_F'])*100
<ipython-input-7-0cae81f5f661>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf2['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code male-percentage female-percentage   p-value
0            0       20.241548         17.498692  0.340433
1            1       35.780514         28.995278  0.537034
2            2        13.88586         12.177476  0.306330
3            3       19.811803         17.589983  0.568812
4            4       24.857964         23.926519  0.733277
5            5       16.996333          14.07898  0.270833
6            6       19.092018         15.859122  0.293845
7            7       33.947194         30.869822  0.587541
8            8       10.540008          8.241115  0.268230
9            9       11.258479          8.942479  0.234998
10          10       15.503511         13.376194  0.302109
11          11       35.259541         32.584946  0.883229
12          12       33.862297         33.687959  0.854432
13          13       34.675874         35.323682  0.800518
14          14       28.086051         25.949614  0.588871
15          15       25.110788         21.644979  0.385357
16          16       31.176029         26.988438  0.402047
17          17       18.791057         18.104927  0.447788
18          18       33.521353         31.212731  0.518246
19          19        14.93939         11.585782  0.274767
20          20       26.628294         24.283665  0.391862
21          21       21.244381          18.27061  0.414623
22          22       12.276817         10.904263  0.300051
23          23       12.539962         10.950205  0.297581
24          24       31.368958         25.712239  0.459303
25          25       32.870041         35.098875  0.847482
26          26       35.587841         39.021267  0.704064
27          27       35.333793         31.618783  0.579031
28          28       19.691771          16.33026  0.343464
29          29        27.49341         26.243053  0.493990
30          30       25.984523         26.805624  0.731286
31          31       14.802403         11.703349  0.379594
32          32       15.966789         13.899303  0.336203
33          33       26.539199          23.26742  0.346070
34          34        28.20733         23.267899  0.354235
35          35       49.554643         47.372123  0.814565

In [8]:
languageDf3 = languageDf[['state-code']]
languageDf3['male-percentage'] = (languageDf['Lang3orMoreM']/populationDf['TOT_M'])*100
languageDf3['female-percentage'] = (languageDf['Lang3orMoreF']/populationDf['TOT_F'])*100
languageDf3['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
languageDf3

<ipython-input-8-8f142dbcab4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf3['male-percentage'] = (languageDf['Lang3orMoreM']/populationDf['TOT_M'])*100
<ipython-input-8-8f142dbcab4e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf3['female-percentage'] = (languageDf['Lang3orMoreF']/populationDf['TOT_F'])*100
<ipython-input-8-8f142dbcab4e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  languageDf3['p-value'] = languageDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code male-percentage female-percentage   p-value
0            0        8.108334          6.037044  0.340433
1            1       18.955279         14.192766  0.537034
2            2        5.757763          4.339928  0.306330
3            3       29.945363         26.298118  0.568812
4            4       30.750539         30.207651  0.733277
5            5        2.131838           1.58215  0.270833
6            6        5.048102          4.127134  0.293845
7            7        8.250652          7.906043  0.587541
8            8        1.808225           1.10284  0.268230
9            9        1.480652          1.089532  0.234998
10          10        1.894823          1.312886  0.302109
11          11       30.775683         28.512349  0.883229
12          12       33.150584         27.154513  0.854432
13          13       29.921759         24.205826  0.800518
14          14       24.763553         18.386362  0.588871
15          15        6.250957          3.368354  0.385357
16          16         6.88992          3.858428  0.402047
17          17       10.775275          7.740853  0.447788
18          18       16.539392         11.241943  0.518246
19          19        3.822671          2.454962  0.274767
20          20        5.705505          3.905132  0.391862
21          21       15.836269         10.432802  0.414623
22          22        1.910325          1.395648  0.300051
23          23        2.015643          1.427474  0.297581
24          24       16.453016         11.708092  0.459303
25          25       14.541487         13.713339  0.847482
26          26       22.840628         18.179514  0.704064
27          27       19.668401          15.27629  0.579031
28          28        9.039086          5.951769  0.343464
29          29       14.593422         10.996295  0.493990
30          30       53.484049         48.085154  0.731286
31          31       19.427588         11.311005  0.379594
32          32        10.81932          8.370938  0.336203
33          33        3.902244          2.879751  0.346070
34          34        6.662574          4.855833  0.354235
35          35       20.626901         17.366496  0.814565

In [9]:
languageDf1.to_csv('gender-india-a.csv', index=False)
languageDf2.to_csv('gender-india-b.csv', index=False)
languageDf3.to_csv('gender-india-c.csv', index=False)