In [1]:
import pandas as pd
from scipy import stats

In [2]:
populationDf = pd.read_excel('input/DDW_PCA0000_2011_Indiastatedist.xlsx')
populationDf

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [3]:
populationDf = populationDf[['State','Level','Name','TRU','TOT_P']]
populationUrbanDf = populationDf[populationDf['TRU']=='Urban'].drop(['TRU'], axis=1)
populationUrbanDf['Name'] = populationUrbanDf['Name'].str.upper()
populationUrbanDf = populationUrbanDf[(populationUrbanDf['Level']=='India') | (populationUrbanDf['Level']=='STATE')].drop(['Level'], axis=1).reset_index(drop=True)
populationUrbanDf

    State                       Name      TOT_P
0       0                      INDIA  377106125
1       1            JAMMU & KASHMIR    3433242
2       2           HIMACHAL PRADESH     688552
3       3                     PUNJAB   10399146
4       4                 CHANDIGARH    1026459
5       5                UTTARAKHAND    3049338
6       6                    HARYANA    8842103
7       7               NCT OF DELHI   16368899
8       8                  RAJASTHAN   17048085
9       9              UTTAR PRADESH   44495063
10     10                      BIHAR   11758016
11     11                     SIKKIM     153578
12     12          ARUNACHAL PRADESH     317369
13     13                   NAGALAND     570966
14     14                    MANIPUR     834154
15     15                    MIZORAM     571771
16     16                    TRIPURA     961453
17     17                  MEGHALAYA     595450
18     18                      ASSAM    4398542
19     19                WEST BENGAL   29093002
20     20                  JHARKHAND    7933061
21     21                     ODISHA    7003656
22     22               CHHATTISGARH    5937237
23     23             MADHYA PRADESH   20069405
24     24                    GUJARAT   25745083
25     25                DAMAN & DIU     182851
26     26       DADRA & NAGAR HAVELI     160595
27     27                MAHARASHTRA   50818259
28     28             ANDHRA PRADESH   28219075
29     29                  KARNATAKA   23625962
30     30                        GOA     906814
31     31                LAKSHADWEEP      50332
32     32                     KERALA   15934926
33     33                 TAMIL NADU   34917440
34     34                 PUDUCHERRY     852753
35     35  ANDAMAN & NICOBAR ISLANDS     143488

In [4]:
populationRuralDf = populationDf[populationDf['TRU']=='Rural'].drop(['TRU'], axis=1)
populationRuralDf['Name'] = populationRuralDf['Name'].str.upper()
populationRuralDf = populationRuralDf[(populationRuralDf['Level']=='India') | (populationRuralDf['Level']=='STATE')].drop(['Level'], axis=1).reset_index(drop=True)
populationRuralDf

    State                       Name      TOT_P
0       0                      INDIA  833748852
1       1            JAMMU & KASHMIR    9108060
2       2           HIMACHAL PRADESH    6176050
3       3                     PUNJAB   17344192
4       4                 CHANDIGARH      28991
5       5                UTTARAKHAND    7036954
6       6                    HARYANA   16509359
7       7               NCT OF DELHI     419042
8       8                  RAJASTHAN   51500352
9       9              UTTAR PRADESH  155317278
10     10                      BIHAR   92341436
11     11                     SIKKIM     456999
12     12          ARUNACHAL PRADESH    1066358
13     13                   NAGALAND    1407536
14     14                    MANIPUR    2021640
15     15                    MIZORAM     525435
16     16                    TRIPURA    2712464
17     17                  MEGHALAYA    2371439
18     18                      ASSAM   26807034
19     19                WEST BENGAL   62183113
20     20                  JHARKHAND   25055073
21     21                     ODISHA   34970562
22     22               CHHATTISGARH   19607961
23     23             MADHYA PRADESH   52557404
24     24                    GUJARAT   34694609
25     25                DAMAN & DIU      60396
26     26       DADRA & NAGAR HAVELI     183114
27     27                MAHARASHTRA   61556074
28     28             ANDHRA PRADESH   56361702
29     29                  KARNATAKA   37469335
30     30                        GOA     551731
31     31                LAKSHADWEEP      14141
32     32                     KERALA   17471135
33     33                 TAMIL NADU   37229590
34     34                 PUDUCHERRY     395200
35     35  ANDAMAN & NICOBAR ISLANDS     237093

In [5]:
languageDf = pd.read_excel('input/DDW-C18-0000.xlsx', names=['state-code','District','State Name','TRU','Age_Group','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
languageUrbanDf = languageDf[languageDf['TRU']=='Urban'].drop(['TRU'], axis=1)
languageUrbanDf = languageUrbanDf[languageUrbanDf['Age_Group']=='Total'].drop(['State Name','District','Age_Group','Males_L2','Females_L2','Males_L3','Females_L3'], axis=1).reset_index(drop=True)
languageUrbanDf = languageUrbanDf.astype({'state-code':int})
languageUrbanDf

    state-code Persons_L2 Persons_L3
0            0  152347285   50625591
1            1    2015952     837496
2            2     261187      66469
3            3    5952044    3599043
4            4     568197     317626
5            5     922525     117211
6            6    2869819     607604
7            7    6718501    1352759
8            8    3226160     397244
9            9   11955712    1317816
10          10    2831528     419896
11          11     114769      63226
12          12     227281     126037
13          13     424179     231295
14          14     430742     240735
15          15     186494      34849
16          16     269860      87104
17          17     348622     151628
18          18    2678733    1383124
19          19    8057261    2216930
20          20    3012369     660837
21          21    3793631    2164213
22          22    1289412     225126
23          23    4479327     695215
24          24   14444001    5539283
25          25      87830      26793
26          26      88651      31858
27          27   33041193   13651754
28          28   10720902    3982864
29          29   13510142    5783942
30          30     713310     479468
31          31      15046       7974
32          32    4349916    1828470
33          33   12325853    1878494
34          34     311311      66636
35          35     104825      34572

In [6]:
languageRuralDf = languageDf[languageDf['TRU']=='Rural'].drop(['TRU'], axis=1)
languageRuralDf = languageRuralDf[languageRuralDf['Age_Group']=='Total'].drop(['State Name','District','Age_Group','Males_L2','Females_L2','Males_L3','Females_L3'], axis=1).reset_index(drop=True)
languageRuralDf = languageRuralDf.astype({'state-code':int})
languageRuralDf

    state-code Persons_L2 Persons_L3
0            0  162641485   35383989
1            1    4167238    1258724
2            2     981518     280817
3            3    7083180    4230870
4            4      11723       4353
5            5     835231      70611
6            6    2757542     562967
7            7      98713       5474
8            8    4247026     609507
9            9   10917897    1267848
10          10   13930257    1262676
11          11     274230     118176
12          12     658664     292514
13          13     805544     306186
14          14     957878     376083
15          15     123209      18117
16          16     998741     111473
17          17     473698     123303
18          18   11781858    2969373
19          19    6968587     664075
20          20    6988351     932202
21          21   10031393    3361065
22          22    2094811     197443
23          23    5329355     562738
24          24   11448340    3031288
25          25      28799       7809
26          26     110332      39658
27          27   24378668    6072975
28          28   10862432    2361512
29          29   10742452    2048187
30          30     412842     261781
31          31       3507       2007
32          32    3813471    1360343
33          33    8090417     568669
34          34      80981       5029
35          35     152600      38136

In [7]:
resultDf = languageUrbanDf[['state-code']]
resultDf['Only1LangU'] = populationUrbanDf['TOT_P'] - languageUrbanDf['Persons_L2']
resultDf['Only1LangR'] = populationRuralDf['TOT_P'] - languageRuralDf['Persons_L2']
resultDf['Exact2LangU'] = languageUrbanDf['Persons_L2'] - languageUrbanDf['Persons_L3']
resultDf['Exact2LangR'] = languageRuralDf['Persons_L2'] - languageRuralDf['Persons_L3']
resultDf['Lang3orMoreU'] = languageUrbanDf['Persons_L3']
resultDf['Lang3orMoreR'] = languageRuralDf['Persons_L3']
resultDf['ratioL1'] = resultDf['Only1LangU']/resultDf['Only1LangR']
resultDf['ratioL2'] = resultDf['Exact2LangU']/resultDf['Exact2LangR']
resultDf['ratioL3'] = resultDf['Lang3orMoreU']/resultDf['Lang3orMoreR']
resultDf['ratioPopulation'] = populationUrbanDf['TOT_P']/populationRuralDf['TOT_P']
resultDf

<ipython-input-7-90183031ea67>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf['Only1LangU'] = populationUrbanDf['TOT_P'] - languageUrbanDf['Persons_L2']

,state-code,Only1LangU,Only1LangR,Exact2LangU,Exact2LangR,Lang3orMoreU,Lang3orMoreR,ratioL1,ratioL2,ratioL3,ratioPopulation
0,0,224758840,671107367,101721694,127257496,50625591,35383989,0.334907,0.799338,1.430749,0.452302
1,1,1417290,4940822,1178456,2908514,837496,1258724,0.286853,0.405175,0.665353,0.376945
2,2,427365,5194532,194718,700701,66469,280817,0.082272,0.27789,0.236699,0.111487
3,3,4447102,10261012,2353001,2852310,3599043,4230870,0.433398,0.824946,0.850663,0.599575
4,4,458262,17268,250571,7370,317626,4353,26.538221,33.998779,72.967149,35.406126
5,5,2126813,6201723,805314,764620,117211,70611,0.342939,1.053221,1.659954,0.433332
6,6,5972284,13751817,2262215,2194575,607604,562967,0.434291,1.030821,1.079289,0.535581
7,7,9650398,320329,5365742,93239,1352759,5474,30.12652,57.548258,247.124406,39.062669
8,8,13821925,47253326,2828916,3637519,397244,609507,0.292507,0.777705,0.651746,0.331029
9,9,32539351,144399381,10637896,9650049,1317816,1267848,0.225343,1.102367,1.039412,0.286479
10,10,8926488,78411179,2411632,12667581,419896,1262676,0.113842,0.190378,0.332545,0.127332
11,11,38809,182769,51543,156054,63226,118176,0.212339,0.33029,0.535016,0.336058
12,12,90088,407694,101244,366150,126037,292514,0.22097,0.27651,0.430875,0.297620
13,13,146787,601992,192884,499358,231295,306186,0.243835,0.386264,0.755407,0.405649
14,14,403412,1063762,190007,581795,240735,376083,0.379231,0.326588,0.640111,0.412613
15,15,385277,402226,151645,105092,34849,18117,0.957862,1.442974,1.923552,1.088186
16,16,691593,1713723,182756,887268,87104,111473,0.403562,0.205976,0.781391,0.354457
17,17,246828,1897741,196994,350395,151628,123303,0.130064,0.562206,1.229719,0.251092
18,18,1719809,15025176,1295609,8812485,1383124,2969373,0.114462,0.14702,0.465797,0.164082
19,19,21035741,55214526,5840331,6304512,2216930,664075,0.380982,0.926373,3.338373,0.467860
20,20,4920692,18066722,2351532,6056149,660837,932202,0.272362,0.388288,0.708899,0.316625
21,21,3210025,24939169,1629418,6670328,2164213,3361065,0.128714,0.244279,0.643907,0.200273
22,22,4647825,17513150,1064286,1897368,225126,197443,0.265391,0.560928,1.140208,0.302797
23,23,15590078,47228049,3784112,4766617,695215,562738,0.330102,0.793878,1.235415,0.381857
24,24,11301082,23246269,8904718,8417052,5539283,3031288,0.486146,1.057938,1.827369,0.742049
25,25,95021,31597,61037,20990,26793,7809,3.007279,2.907909,3.431041,3.027535
26,26,71944,72782,56793,70674,31858,39658,0.988486,0.803591,0.803318,0.877022
27,27,17777066,37177406,19389439,18305693,13651754,6072975,0.478169,1.059203,2.247952,0.825560
28,28,17498173,45499270,6738038,8500920,3982864,2361512,0.384581,0.792625,1.686574,0.500678
29,29,10115820,26726883,7726200,8694265,5783942,2048187,0.378489,0.888655,2.823933,0.630541
30,30,193504,138889,233842,151061,479468,261781,1.393228,1.547997,1.831561,1.643580
31,31,35286,10634,7072,1500,7974,2007,3.318225,4.714667,3.973094,3.559296
32,32,11585010,13657664,2521446,2453128,1828470,1360343,0.848242,1.027849,1.344124,0.912072
33,33,22591587,29139173,10447359,7521748,1878494,568669,0.7753,1.388954,3.303317,0.937895
34,34,541442,314219,244675,75952,66636,5029,1.723136,3.221442,13.250348,2.157776
35,35,38663,84493,70253,114464,34572,38136,0.457588,0.613756,0.906545,0.605197

In [8]:
resultDf1 = resultDf[['state-code']]
resultDf1['urban-percentage'] = (resultDf['Only1LangU']/populationUrbanDf['TOT_P'])*100
resultDf1['rural-percentage'] = (resultDf['Only1LangR']/populationRuralDf['TOT_P'])*100
resultDf1['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
resultDf1

<ipython-input-8-9930c9199f46>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf1['urban-percentage'] = (resultDf['Only1LangU']/populationUrbanDf['TOT_P'])*100
<ipython-input-8-9930c9199f46>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf1['rural-percentage'] = (resultDf['Only1LangR']/populationRuralDf['TOT_P'])*100
<ipython-input-8-9930c9199f46>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf1['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code urban-percentage rural-percentage   p-value
0            0        59.600952        80.492749  0.332407
1            1        41.281389          54.2467  0.568997
2            2        62.067208        84.107674  0.279581
3            3        42.764108        59.161084  0.523689
4            4         44.64494        59.563313  0.592084
5            5        69.746712        88.130788  0.263868
6            6        67.543705        83.297098  0.270791
7            7        58.955694        76.443173  0.399070
8            8        81.076115        91.753404  0.236601
9            9         73.13025        92.970584  0.217139
10          10        75.918318        84.914403  0.316182
11          11        25.269895        39.993304  0.828855
12          12        28.385885        38.232376  0.867929
13          13        25.708536        42.769208  0.747793
14          14        48.361813        52.618765  0.745795
15          15        67.383096        76.551048  0.332646
16          16        71.932065        63.179567  0.584067
17          17        41.452347        80.024871  0.347429
18          18        39.099524        56.049379  0.556900
19          19        72.305158        88.793441  0.356353
20          20        62.027659         72.10804  0.396087
21          21        45.833562         71.31475  0.467962
22          22        78.282625        89.316528  0.303476
23          23        77.680818        89.859935  0.261701
24          24        43.896079        67.002539  0.429452
25          25        51.966355        52.316379  0.638774
26          26        44.798406        39.746824  0.864934
27          27        34.981651        60.395999  0.490434
28          28        62.008315        80.727282  0.359147
29          29        42.816542        71.330017  0.428730
30          30        21.338885        25.173318  0.721405
31          31        70.106493        75.199774  0.386916
32          32        72.702001        78.172735  0.381538
33          33         64.70001        78.268853  0.365153
34          34        63.493415        79.508856  0.393157
35          35         26.94511        35.637071  0.720846

In [9]:
resultDf2 = resultDf[['state-code']]
resultDf2['urban-percentage'] = (resultDf['Exact2LangU']/populationUrbanDf['TOT_P'])*100
resultDf2['rural-percentage'] = (resultDf['Exact2LangR']/populationRuralDf['TOT_P'])*100
resultDf2['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
resultDf2

<ipython-input-9-03e535d84bfe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf2['urban-percentage'] = (resultDf['Exact2LangU']/populationUrbanDf['TOT_P'])*100
<ipython-input-9-03e535d84bfe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf2['rural-percentage'] = (resultDf['Exact2LangR']/populationRuralDf['TOT_P'])*100
<ipython-input-9-03e535d84bfe>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf2['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code urban-percentage rural-percentage   p-value
0            0        26.974288        15.263289  0.332407
1            1        34.324874        31.933408  0.568997
2            2        28.279346        11.345455  0.279581
3            3        22.626868        16.445332  0.523689
4            4        24.411204        25.421683  0.592084
5            5         26.40947        10.865781  0.263868
6            6        25.584581        13.292915  0.270791
7            7        32.780103        22.250514  0.399070
8            8        16.593746         7.063095  0.236601
9            9        23.908037          6.21312  0.217139
10          10        20.510535        13.718198  0.316182
11          11        33.561448        34.147558  0.828855
12          12        31.901036        34.336499  0.867929
13          13        33.782047        35.477458  0.747793
14          14        22.778408        28.778368  0.745795
15          15        26.521982        20.000952  0.332646
16          16        19.008313        32.710775  0.584067
17          17        33.083214        14.775628  0.347429
18          18         29.45542        32.873779  0.556900
19          19        20.074694        10.138624  0.356353
20          20        29.642177        24.171348  0.396087
21          21        23.265249        19.074123  0.467962
22          22        17.925611         9.676519  0.303476
23          23        18.855128         9.069354  0.261701
24          24        34.588034        24.260403  0.429452
25          25        33.380731        34.753957  0.638774
26          26        35.364115        38.595629  0.864934
27          27        38.154473         29.73824  0.490434
28          28        23.877601        15.082795  0.359147
29          29         32.70216        23.203681  0.428730
30          30        25.787207        27.379466  0.721405
31          31        14.050703        10.607454  0.386916
32          32        15.823393        14.041034  0.381538
33          33        29.920175        20.203682  0.365153
34          34        28.692365        19.218623  0.393157
35          35        48.960889        48.278102  0.720846

In [10]:
resultDf3 = resultDf[['state-code']]
resultDf3['urban-percentage'] = (resultDf['Lang3orMoreU']/populationUrbanDf['TOT_P'])*100
resultDf3['rural-percentage'] = (resultDf['Lang3orMoreR']/populationRuralDf['TOT_P'])*100
resultDf3['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)
resultDf3

<ipython-input-10-c60900134be2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf3['urban-percentage'] = (resultDf['Lang3orMoreU']/populationUrbanDf['TOT_P'])*100
<ipython-input-10-c60900134be2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf3['rural-percentage'] = (resultDf['Lang3orMoreR']/populationRuralDf['TOT_P'])*100
<ipython-input-10-c60900134be2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultDf3['p-value'] = resultDf.apply(lambda r: stats.ttest_1samp([r.ratioL1,r.ratioL2,r.ratioL3], popmean=r.ratioPopulation)[1], axis=1)

    state-code urban-percentage rural-percentage   p-value
0            0         13.42476         4.243963  0.332407
1            1        24.393736        13.819891  0.568997
2            2         9.653447         4.546871  0.279581
3            3        34.609025        24.393584  0.523689
4            4        30.943857        15.015005  0.592084
5            5         3.843818         1.003431  0.263868
6            6         6.871714         3.409987  0.270791
7            7         8.264203         1.306313  0.399070
8            8         2.330139         1.183501  0.236601
9            9         2.961713         0.816296  0.217139
10          10         3.571147         1.367399  0.316182
11          11        41.168657        25.859138  0.828855
12          12        39.713078        27.431125  0.867929
13          13        40.509417        21.753333  0.747793
14          14        28.859779        18.602867  0.745795
15          15         6.094923            3.448  0.332646
16          16         9.059621         4.109658  0.584067
17          17        25.464439         5.199501  0.347429
18          18        31.445056        11.076843  0.556900
19          19         7.620149         1.067935  0.356353
20          20         8.330164         3.720612  0.396087
21          21        30.901189         9.611127  0.467962
22          22         3.791764         1.006953  0.303476
23          23         3.464054         1.070711  0.261701
24          24        21.515887         8.737058  0.429452
25          25        14.652914        12.929664  0.638774
26          26        19.837479        21.657547  0.864934
27          27        26.863876         9.865761  0.490434
28          28        14.114084         4.189923  0.359147
29          29        24.481297         5.466302  0.428730
30          30        52.873908        47.447216  0.721405
31          31        15.842804        14.192773  0.386916
32          32        11.474606         7.786231  0.381538
33          33         5.379816         1.527465  0.365153
34          34         7.814221          1.27252  0.393157
35          35        24.094001        16.084827  0.720846

In [11]:
resultDf1.to_csv('geography-india-a.csv', index=False)
resultDf2.to_csv('geography-india-b.csv', index=False)
resultDf3.to_csv('geography-india-c.csv', index=False)