In [1]:
import pandas as pd

In [2]:
percentIndiaDf = pd.read_csv('percent-india.csv')
percentIndiaDf

    state-code  percent-one  percent-two  percent-three
0            0    73.986251    18.910538       7.103211
1            1    50.697384    32.588084      16.714533
2            2    81.896911    13.044005       5.059084
3            3    53.014940    18.762382      28.222678
4            4    45.054716    24.438960      30.506324
5            5    82.572823    15.565026       1.862151
6            6    77.802617    17.580012       4.617371
7            7    59.392197    32.517275       8.090528
8            8    89.097948     9.433381       1.468671
9            9    88.552454    10.153499       1.294046
10          10    83.898297    14.485391       1.616312
11          11    36.289936    34.000134      29.709930
12          12    35.974004    33.777906      30.248091
13          13    37.845754    34.988188      27.166058
14          14    51.375344    27.025829      21.598827
15          15    71.773486    23.399161       4.827352
16          16    65.470069    29.124882       5.405049
17          17    72.283426    18.449932       9.266643
18          18    53.660234    32.391948      13.947818
19          19    83.538029    13.305609       3.156362
20          20    69.683887    25.486986       4.829127
21          21    67.063058    19.773438      13.163504
22          22    86.752019    11.593780       1.654201
23          23    86.494406    11.773516       1.732078
24          24    57.160038    28.659593      14.180368
25          25    52.053263    33.721690      14.225047
26          26    42.107131    37.085732      20.807136
27          27    48.903046    33.544254      17.552700
28          28    74.481987    18.017047       7.500967
29          29    60.303665    26.876807      12.819528
30          30    22.789355    26.389518      50.821127
31          31    71.223613    13.295488      15.480899
32          32    75.563156    14.891232       9.545612
33          33    71.701857    24.906232       3.391911
34          34    68.565162    25.692234       5.742604
35          35    32.359997    48.535529      19.104474

In [3]:
lang3To2Df = percentIndiaDf[['state-code']]
lang3To2Df['3-to-2-ratio'] = percentIndiaDf['percent-three']/percentIndiaDf['percent-two']
lang3To2Df = lang3To2Df.sort_values(by=['3-to-2-ratio'], ascending=False).reset_index(drop=True)
best3St3To2Df = lang3To2Df.head(3)
worst3St3To2Df = lang3To2Df.tail(3).sort_values(by=['3-to-2-ratio']).reset_index(drop=True)
lang3To2BestWorstDf = pd.concat([best3St3To2Df,worst3St3To2Df], axis=0)
lang3To2BestWorstDf

<ipython-input-3-0f80bef69229>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lang3To2Df['3-to-2-ratio'] = percentIndiaDf['percent-three']/percentIndiaDf['percent-two']

   state-code  3-to-2-ratio
0          30      1.925807
1           3      1.504216
2           4      1.248266
0          10      0.111582
1           5      0.119637
2           9      0.127448

In [4]:
lang3To2BestWorstDf = lang3To2BestWorstDf[['state-code']]
lang3To2BestWorstDf

   state-code
0          30
1           3
2           4
0          10
1           5
2           9

In [5]:
lang2To1Df = percentIndiaDf[['state-code']]
lang2To1Df['2-to-1-ratio'] = percentIndiaDf['percent-two']/percentIndiaDf['percent-one']
lang2To1Df = lang2To1Df.sort_values(by=['2-to-1-ratio'], ascending=False).reset_index(drop=True)
best3St2To1Df = lang2To1Df.head(3)
worst3St2To1Df = lang2To1Df.tail(3).sort_values(by=['2-to-1-ratio']).reset_index(drop=True)
lang2To1BestWorstDf = pd.concat([best3St2To1Df,worst3St2To1Df], axis=0)
lang2To1BestWorstDf

<ipython-input-5-97c78a43eb28>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lang2To1Df['2-to-1-ratio'] = percentIndiaDf['percent-two']/percentIndiaDf['percent-one']

   state-code  2-to-1-ratio
0          35      1.499862
1          30      1.157976
2          12      0.938953
0           8      0.105877
1           9      0.114661
2          22      0.133643

In [6]:
lang2To1BestWorstDf = lang2To1BestWorstDf[['state-code']]
lang2To1BestWorstDf

   state-code
0          35
1          30
2          12
0           8
1           9
2          22

In [7]:
lang3To2BestWorstDf.to_csv('3-to-2-ratio.csv', index=False)
lang2To1BestWorstDf.to_csv('2-to-1-ratio.csv', index=False)